* {
    box-sizing: border-box;
    font-family: "Geom", sans-serif;
}

:root {
    --bg-color-header: #5b24da;
    --bg-color: #222222;
    --bg-color-lighter: #333333;
    --bg-light-gray: #777777;
    --text-color: #f9f9f9;
    --nav-link-hover: #b697fd;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

.bg-lighter {
    background-color: var(--bg-color-lighter);
}

header, footer{
    background-color: var(--bg-color-header);
    padding: 3vh;
    
}

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;
}

.nav-link, .navbar-brand {
    color: var(--text-color);
}

.nav-item:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.nav-link:hover {
    color: var(--nav-link-hover);
}

.nav-item {
    padding-left: 1vw
}

.navbar-brand:hover {
    color: var(--text-color);
}

.offcanvas {
    background-color: var(--bg-color-header);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#offcanvas-header {
    padding: 2em;
    text-align: center;
}

.offcanvas button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2em;
}

.offcanvas ul {
    padding: 0;
}

.offcanvas-body li {
    text-align: center;
    list-style-type: none;
    border-bottom: 2px solid white;
    padding: 0.5em;
}

.offcanvas-body li:hover {
    transform: none;
}

.offcanvas-body li:last-child {
    border: none;
}

.offcanvas-footer {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

section {
    color: var(--text-color);
}

#portfolio .col {
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--bg-color-header);
}
.carousel-indicators .active {
    background-color: var(--nav-link-hover);
}

.input-bg, .progress {
    background-color: var(--bg-light-gray);
    border: #333333 1px solid;
}

#form-submit {
    border: 0;
}

#form-submit:hover {
    background-color: var(--nav-link-hover);
    transform: scale(1.1);
    transition: 0.5s;
}

.progress-bar, #form-submit {
    background-color: var(--bg-color-header);
}

.card-link {
    color: var(--bg-color-header);
}

footer ul {
    padding-bottom: 10px;
}

footer p {
    margin-top: 10px;
    color: var(--text-color);
}

.logo-social {
    width: 3em;
}

/*MEDIA QUERY*/

@media (max-width: 1000px) {

    .hamburguer{
        display: block;
    }

    .navbar-nav {
        display: none;
    }

    #about .row {
        flex-direction: column;
    }

}

@media (max-width: 750px) {
        
    #row1 {
        flex-direction: column;
    }

    #form-submit-div {
        width: 95% !important;
    }
}