* {
    box-sizing: border-box;
    font-family: "Geom", sans-serif;
}

:root {
    --bg-color-header: #0881d1;
    --text-color-header: #f9f9f9;
}

header, footer{
    background-color: var(--bg-color-header);
    padding: 3vh;
}

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;
}

.hamburguer img {
    height: 1.5em;
    width: 1.5em;
    display: block;
}

.nav-link, .navbar-brand {
    color: var(--text-color-header);
}

.current {
    color: #b1dcf8;
}

.nav-item:hover {
    transform: scale(1.2);
    transition: 1s;
}

.nav-link:hover {
    color: #b1dcf8;
}

.nav-item {
    padding-left: 1vw
}

.navbar-brand:hover {
    color: var(--text-color-header);
}

.offcanvas {
    background-color: var(--bg-color-header);
    color: var(--text-color-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#offcanvas-header {
    padding: 15px;
    text-align: center;
}

.offcanvas ul {
    padding: 0;
}

.offcanvas li {
    text-align: center;
    list-style-type: none;
    border-bottom: 2px solid white;
    padding: 0.5em;
}

.offcanvas li:hover {
    transform: none;
}

.offcanvas li:last-child {
    border: none;
}

footer ul {
    padding-bottom: 10px;
}

footer p {
    margin-top: 10px;
    color: var(--text-color-header);
}

/*MEDIA QUERY*/

@media (max-width: 1000px) {

    .hamburguer{
        display: block;
    }

    .navbar-nav {
        display: none;
    }

}