* {
    box-sizing: border-box;
    font-family: "Geom", sans-serif;
}

:root {
    --bg-color-header: #0881d1;
    --text-color-header: #f9f9f9;
    --nav-link-hover: #b1dcf8;
}

html {
  scroll-behavior: smooth;
}

header, footer{
    background-color: var(--bg-color-header);
    padding: 3vh;
    
}

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;
}

.nav-link, .navbar-brand {
    color: var(--text-color-header);
}

.nav-item:hover {
    transform: scale(1.2);
    transition: 1s;
}

.nav-link:hover {
    color: var(--nav-link-hover);
}

.nav-item {
    padding-left: 1vw
}

.navbar-brand:hover {
    color: var(--text-color-header);
}

.offcanvas {
    background-color: var(--bg-color-header);
    color: var(--text-color-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#offcanvas-header {
    padding: 2em;
    text-align: center;
}

.offcanvas button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2em;
}

.offcanvas ul {
    padding: 0;
}

.offcanvas-body li {
    text-align: center;
    list-style-type: none;
    border-bottom: 2px solid white;
    padding: 0.5em;
}

.offcanvas-body li:hover {
    transform: none;
}

.offcanvas-body li:last-child {
    border: none;
}

.offcanvas-footer {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#portfolio .col {
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(10%) sepia(10%) saturate(100%) hue-rotate(0deg) brightness(20%) contrast(100%);
    width: 3rem;
    height: 3rem;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--bg-color-header);
}
.carousel-indicators .active {
    background-color: var(--nav-link-hover);
}

footer ul {
    padding-bottom: 10px;
}

footer p {
    margin-top: 10px;
    color: var(--text-color-header);
}

.logo-social {
    width: 3em;
}

/*MEDIA QUERY*/

@media (max-width: 1000px) {

    .hamburguer{
        display: block;
    }

    .navbar-nav {
        display: none;
    }

    #about .row {
        flex-direction: column;
    }

}

@media (max-width: 750px) {
        
    #row1 {
        flex-direction: column;
    }

    #form-submit {
        width: 95% !important;
    }
}