* {
    box-sizing: border-box;
}

:root {
    --bg-color-header: #0881d1;
    --text-color-header: #f9f9f9;
    --header-current: 

}

header, footer{
    background-color: var(--bg-color-header);
    padding: 3vh;
}

.nav-link, .navbar-brand {
    color: var(--text-color-header);
}

.current {
    color: #b1dcf8;
}

.nav-item:hover {
    transform: scale(1.2);
    transition: 1s;
}

.nav-link:hover {
    color: #b1dcf8;
}

.nav-item {
    padding-left: 1vw
}

.navbar-brand:hover {
    color: var(--text-color-header);
}

footer ul {
    padding-bottom: 10px;
}

footer p {
    margin-top: 10px;
    color: var(--text-color-header);
}